body {
    background: #dddddd;
}

#tree {
    margin: 40px auto;
    background: #eeeeee;
    padding: 80px;
    width: 600px;
    height: 700px;
}

#tree:hover {
    cursor: pointer;
}

.tree {
    width: auto;
    overflow: hidden;
}

.folder-a {
    text-decoration: none;

}

.folder:hover {
    /*background: rgba(98, 152, 238, 0.71);*/
}

.slide {
    padding-left: 35px;
}

.slide-up {
    display: none;
}

.node-icon {
    margin-right: 5px;
    margin-left: 5px;
}
